*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    max-width: 100%;
    background-color: aquamarine;
}
.container{
   max-width: 1440px;
    padding: 10px 20px;
    margin: 10px auto;

}
h1{
    text-align: center;
    font-size: 34px;
    color: blue;
}
.faq{
    width: 700px;
    margin: 18px auto;
      
}
.faq-item{
    border: 1px solid rebeccapurple;
}
.faq-title{
    display: flex;
    align-items: center;
    padding-bottom: 28px;
}
.faq-title h3{
    font-size: 24px;
}
.faq-title i{
    padding: 0 8px;
    font-size: 24px;
    cursor: pointer;
}
.faq-content{
    display: none;
    
}
.faq-title.active + .faq-content{
     display: block;
     transition-duration: 3s;
     transform-origin: all;
     transition-behavior: ease-in;
     
}
.faq-title.active i {
    transform: rotate(180deg);
}

@media (max-width:800px) {
 .container{
    max-width: 100%;
 }
 .faq{
    max-width: 100%;
 }
 .faq-title h3{
    font-size: 11px;
 }
 
    
   
}